<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift - tableView单元格高度自适应1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F57301521D6D42200065E19C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57301661D6D42210065E19C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57301711D6D42210065E19C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
